<div class="persons">
 
      <div  class="header-text">
        <span  class="text-text">Добавить сотрудников</span>
        <div class="close">
            <button   color="basic" (click)="close()" mat-icon-button   aria-label="Example icon-button with a menu">
      <mat-icon >close</mat-icon>
    </button>
    </div>
    </div>
    <div class="divisions">
     

      <mat-form-field  class="divisions-field">
        <mat-label>Подразделения</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               ngClass="text"
       
               matInput
               autofocus="false"

               [formControl]="divionInput"
               [matAutocomplete]="auto">
               <mat-autocomplete   #auto="matAutocomplete">
                <mat-option            (click)="onDivisionChange(null)"   [value]="''" >Все Подразделения</mat-option>
                <mat-option           (click)="onDivisionChange(division)" [value]="''" *ngFor="let division of fiteredDivisions">{{division.name}} {{division.parentDivision ? '(' + division.parentDivision.name + ')' : '' }}</mat-option>
              
            </mat-autocomplete>
      </mat-form-field>
    </div>


    <div class="inputControll">

        <div class="check">
            <mat-icon *ngIf="!allChecked" (click)="checkAllUsers()" >check_box_outline_blank</mat-icon>
            <mat-icon *ngIf="allChecked" (click)="uncheckAllUsers()" >check_box</mat-icon>
          </div>

      <input class="input" placeholder="Искать в таблице" [formControl]="personsControl" />
      <div class="rows-count">
        Показано строк: {{filteredPersons.length}} из {{persons.length}}
      </div>
      <div class="remove" matTooltip="добавить пользователей"  (click)="addAllUsers()" >
        <mat-icon>group_add</mat-icon>

      </div>
    </div>

    <div class="persons-list">
        <mat-spinner class="loaderSettings"  *ngIf="isLoading"></mat-spinner>
        <div class="list"  *ngIf="!isLoading">
             <div matSort  (matSortChange)="sortData($event)"  class="headers">
              <div mat-sort-header="name" class="headers-FIO">ФИО</div>
              <div  mat-sort-header="city" class="headers-city">город</div>
             </div>
            <div class="list-item-user"    *ngFor="let person of filteredPersons">
                <mat-checkbox
                (change)="userChecked(person)"
                class="example-margin"
                [checked]="person.keycloakUid | isUserInWorkTimeSetting : checkedUsers"
  
                >{{ person.name }}
                 </mat-checkbox>

      
                <div class="city">{{person.city}}</div>
            </div>


        </div>
    </div>
    <div class="buttons">
        <button  (click)="close()" mat-stroked-button>Отмена</button>
        <button  (click)="addAllUsers()" mat-stroked-button>Сохранить</button>
      </div>
  </div>
