:host{
    display: block;
    height: 100%;
  }
  .group-options{
    display: flex;
    gap: 20px;
    align-items: center;
  
  
  
  
    
  
  }
  
  .group{
    position: relative;
  z-index: 4;
  
  }
  
  .group-option{
    display: flex;
    align-items: center;
  
  
  
    cursor: pointer;
    &.active{
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background: rgba(0, 0, 0, 1);
        z-index: 2;
      }
   
    }
  }
  
  .header{
    background-color: #F7F7F9;
    height: 65px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content{
    width: 0px;
    height: 0px;
    opacity: 0;
    &.active{
  width: 100%;
  height: auto;
  opacity: 1;
    }
  }
  .body{
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  
  }
  .loader{
    display: none;
    overflow: visible;
   z-index: 20000;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before{
    
    content: '';
    opacity: 0.5;
    position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  
  }
  
  
  }
  
  .loaderSettings{
    align-self: center;
  }
  
  .history{
    color: rgba(0, 0, 0,0.4);
  }
  
  .persons-list{
    flex: 1 1 auto;
    max-height: 100%;
  }
  .list{
  
  max-height: calc(100vh - 420px);
  overflow-y:auto;
  }
  
  
  
  .edit{
    color: rgba(0, 0, 0,0.7);
    &:hover{
        color: rgba(0, 0,0, 1);
        transform: scale(1.1);
    }
  }
  
  .cdk-drag-preview {
    cursor: grab;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .list-item{
    cursor: grab;
    min-height: 48px;
  }
  
  .list-item-user{
    min-height: 48px;
  }
  
  
  
  ::-webkit-scrollbar {
    width: 12px;
  
  
  }
  ::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
      border-radius: 10px;
      background: rgba(216, 218, 220,0.6);
  
  }
  
   .checkAll{
    padding: 0 10px;
   }
  
  .divisions{
    padding: 0 10px;
    margin-top: 20px;
  }
  .divisions-field{
    width: 100% ;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #8f9091;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(103, 103, 104);
  }
  
  
  
  .item{
    display: flex;
    gap: 20px;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    cursor: pointer;
  
    &.active{
      background-color: rgba(
        0,
        0,
        0,
        0.04
      ); 
    }
    &:hover {
      background-color: rgba(
        0,
        0,
        0,
        0.04
      ); /* Define the desired hover background color */
    }
  }
  .title{
    color: #000;
    white-space: wrap;
    word-break: normal;
  }
  
  .inputControll{
    width: 100%;
    padding: 3px;
    margin-top: 10px;
  }
  
  .change-name{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
  }
  .input {
  
  
    color: #191919;
    background: transparent;
    padding-left: 0px;
    padding-right: 0px;
    height: 28px !important;
    font-size: 14px;
    line-height: 28px;
    padding: 6px 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    border-radius: 4px;
    width: 100%;
  }
  
  .inputTitle {
    flex: 1 1 auto;
    color: #191919;
    background: transparent;
    padding-left: 0px;
    padding-right: 0px;
    height: 28px !important;
    font-size: 14px;
    line-height: 28px;
    padding: 6px 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-overflow: ellipsis;
  
  
  
  
  
  
  }
  
  
  
  mat-list-item:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.04
  ); /* Define the desired hover background color */
  }
  
  .input:focus {
    box-shadow: 0px 0px 0px calc(2px) #4484CD;
    background-color: white;
  }
  
  .input:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
  
  .divisionInput{
    width: 100%;
  }
  
  .buttons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    flex: 1 1 auto;
    padding-right: 20px;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  
  .controls{
    height: 100%;
  }
  
  .group-title{
    text-align: center;
    padding: 4px 0 ;
    border-bottom: 1px solid rgba(0, 0, 0,0.2);
    border-top: 1px solid rgba(0, 0, 0,0.2);
  }
  
  .persons{
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }