<div   class="item" [ngClass]="{'checked': checkedSetting?.uid === wts.uid}">

  <div class="icon">
   
  </div>
 
 
  
    <div *ngIf="!changedName"  class="title">{{ wts.title }}</div>
     <div  class="changeNameActions">
      <div class="icon">
        <button *ngIf="changedName" matTooltip="отменить"    mat-icon-button color="black" (click)="closeChanged()">
          <mat-icon>close</mat-icon>
        </button> 
      </div>
       <div class="icon">
        <button *ngIf="changedName" matTooltip="сохранить"    mat-icon-button color="black" (click)="updateTitle()">
          <mat-icon >check</mat-icon>
        </button>
       </div>

        <input id="change"   class="input"  [ngClass]="{'changeName':changedName}" (keydown)="onKeyDown($event)" (click)="onInputClick($event)" [(ngModel)]="inputValue"   matInput  placeholder="Имя">
     </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="changeName()" mat-menu-item >
          <mat-icon>edit</mat-icon>
          <span>переименовать</span>
      </button>
        <button (click)="copyWts()" mat-menu-item >
          <mat-icon>content_copy</mat-icon>
          <span>копировать</span>
        </button>

        <button [mat-dialog-close]="true" (click)="goToSetting()" mat-menu-item>
            <mat-icon>manage_history</mat-icon>
            <span>настроить время</span>
        </button>
        <button (click)="removeSetting()" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>удалить</span>
        </button>
      </mat-menu>
</div>