.saveWorkTime{
    padding: 15px;

}

.title{
    margin-bottom: 15px;
}

.save-type-radio-group{

    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;


}





 
