services:
  postgres:
    image: postgres:15.1
    volumes:
      - ./docker_postgres_init.sql:/docker-entrypoint-initdb.d/docker_postgres_init.sql
      - postgres_microservice_back:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: work_time_groups
      POSTGRES_PASSWORD: work_time_groups
      POSTGRES_DB:  work_time_groups
    ports:
      - 5467:5432
    restart: unless-stopped
  back:
    build: ais_msrv_work_time_groups/
    environment:
      - ENV
    command: npm run start:${ENV:-test}
    ports:
      - 50151:80
    depends_on:
      - postgres
  # front:
  #   build: 
  #     context: ais_mfr_work_time_settings/.
  #   labels:
  #     SERVICE_CHECK_INTERVAL: 10s
  #   ports:
  #     - 50100:80
  #   depends_on:
  #     - back
volumes:
  postgres_microservice_back:
#  front:
#     build: */ 
