<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<ng-container *ngIf="!isLoading">
  <div class="header">

 
    <div class="skip-buttons">
      <button (click)="onPrevYear()"  class="small-icon-button" mat-icon-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <div class="today">{{ startDate.year}}</div>
      <button (click)="onNextYear()" class="small-icon-button" mat-icon-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <span class="text">{{ workTimeSetting.title }}</span>
    <button mat-icon-button (click)="backClicked()"><mat-icon>close</mat-icon></button>

    

  </div>
  <mat-sidenav-container>
    <mat-sidenav
      position="end"
      #sidenav
      mode="side"
      style="width: 25%; position: absolute; top: 50px"
      [fixedInViewport]="true"
      [(opened)]="opened"
    >
      <side-bar
        *ngIf="opened"
        [currentDate]="selectedDate"
        [result]="result"
        [year]="startDate.year"
        [uid]="wtsId"
        (onSave)="updateWorkTimes($event)"
        (closeSideNav)="closeSideNav()"
        (onUpdate)="onClickDate(result, selectedDate)"
      ></side-bar>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: white">
      <div class="wrapper">
        <app-year 
           [allUserWorkTimes]="workTimeSetting.workTimes"
           (onDayClick)="onClickDate($event.result, $event.date)"
           (onDaySecondClick)="onClickDate($event.result, $event.date)"
           [year]="startDate.year"
           [borderVisible]="true" 
        />  
        <div class="buttons">
          <button (click)="backClicked()" mat-flat-button>Отмена</button>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</ng-container>