<div class="body">

    <div class="close">

    <div matSort (matSortChange)="sortData($event)"  class="header">
        <span [autofocus]="false" mat-sort-header="name" class="text">Настройки рабочего времени</span>
        <div class="changeActions">
            <button (click)="undo()"  class="change" [ngClass]="{'changeActive':undoActive}" matTooltip="отменить"   mat-icon-button color="black">
              <mat-icon>undo</mat-icon>
            </button> 
            <button (click)="redo()" class="change"  [ngClass]="{'changeActive':redoActive}"  matTooltip="вернуть"   mat-icon-button color="black">
              <mat-icon>redo</mat-icon>
            </button> 
          </div>
        <button   color="basic" (click)="close()" mat-icon-button   aria-label="Example icon-button with a menu">
            <mat-icon >close</mat-icon>
          </button>
      </div>
    </div>
    <div  class="filtr">
        <input type="text" class="form-control" (keydown)="onAllFiltrChange()"  placeholder="Искать в таблице" [(ngModel)]="allSearch">
    </div>
   
 
    <div class="groupList">
        <div class="add-setting" >
            <div class="check">
                <mat-icon matTooltip="выделить все" *ngIf="!allSettingChecked" (click)="checkAllSettings()" >check_box_outline_blank</mat-icon>
                <mat-icon matTooltip="отменить все" *ngIf="allSettingChecked" (click)="uncheckAllSettnigs()" >check_box</mat-icon>
              </div>
            <mat-icon color="basic" matTooltip="создать рабочее время" (click)=" showSettingCreate()" >add</mat-icon>


        </div>

        <app-create-work-time-setting-item *ngIf="showSettingCreator" (onSettingClose)="closeSettingCreate()" (onSettingCreate)="updateItems()"/>
        <div class="settings">
            <mat-checkbox
            (click)="userChecked(wts)"
            class="example-margin"
            [checked]="wts | wtsInGroup : checkedWts"
            *ngFor="let wts of workTimesSettings | async "
            appTrimOnCopy
            >
            <app-work-time-setting-item [wtg]="data"    (onSettingUpdate)="updateItems()"  (onSettingCopy)="updateItems()" class="item-list" [wts]="wts"     />
             </mat-checkbox>
        </div>

       
    </div>
    <div class="buttons">
        <button  (click)="close()" mat-stroked-button>Отмена</button>
        <button  (click)="addToGroup()" mat-stroked-button>Сохранить</button>
      </div>
</div>