
.body{
  padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
     text-decoration: none;
    gap: 10px;
  }
  .text {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 48px;
  }

  .settings{
    display: flex;
    flex-direction: column;
    ::ng-deep .mdc-form-field{
      width: 100%;
      :last-child{
        flex:  1  1 auto;
        cursor: inherit;
      }
    }
    ::ng-deep .mat-mdc-checkbox{
      padding-right: 5px;
      
         flex: 0 0 60%;
        }
    
  }

  .close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .groupList{
    height: 300px;
    overflow: auto;
  }

  .add-setting{
   
  }

  .buttons{
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
    display: flex;

  }

  .filtr{

  }