<div class="groups">

  <div class="top-pannel__block">
    <div class="more-buttons">
      <span class="material-symbols-outlined"  matTooltip="Добавить группу" mat-icon-button (click)="changeGroupCreator(true)"
        style="cursor: pointer; margin-left: 5px">
        group_add
      </span>


      <div class="filter-block">

        <input type="text" class="form-control" (keydown)="onAllFiltrChange()"  placeholder="Искать в таблице" [(ngModel)]="allSearch">
      </div>
    </div>
    <div class="rows-count">
      Найдено: {{this.lengthOfSortedWtg}} из {{allWorkTimeGroups.length}}
    </div>
  </div>
  <mat-sidenav-container [@.disabled]="true" [hasBackdrop]='false'  class="sidenav-container">
    <mat-sidenav-content>
      <div class="main">
        <app-header  (onSort)="sortGroup($event)" title="Группы рабочего времени" [type]="'../work-time'">
          <div class="changeActions">
            <button (click)="undo()"  class="change" [ngClass]="{'changeActive':undoActive}" matTooltip="отменить"   mat-icon-button color="black">
              <mat-icon>undo</mat-icon>
            </button> 
            <button (click)="redo()" class="change"  [ngClass]="{'changeActive':redoActive}"  matTooltip="вернуть"   mat-icon-button color="black">
              <mat-icon>redo</mat-icon>
            </button> 
          </div>
       
        </app-header>
      
      
         
         
            <div class="groupList">
              <div class="groupList-container">
                <app-create-work-time-group-item *ngIf="isGroupCreator" (onGroupClose)="changeGroupCreator(false)" (onGroupCreate)="onCreateGroup()"/>
                <app-work-time-group-item [opened]="opened" (onGroupUpdate)="updateItem()" (onGroupCopy)="addCopySettings()"  (click)="checkGroup(group)" [checkedGroup]="checkedGroup"  (onGroupDelete)="filtrGroups()" [wtg]="group" *ngFor="let group of workTimesGroups | async"/>
              </div>
     
            </div>
      </div>

     

    </mat-sidenav-content>
    <mat-sidenav mode="side"  position="end" #drawer [(opened)]="opened"     >
      <app-add-person-to-work-time-settings 
      (onGroupDelete)="filtrGroups()"  
      (onGroupCopy)="addCopySettings()"  
      (onGroupSave)="onCreateGroup()" 
      (onClose)="closeAddPerson()"
      (onPreviewVisible)="changePreviewVisible($event)"
      >
      </app-add-person-to-work-time-settings>
    </mat-sidenav>
  </mat-sidenav-container>
  <div *ngIf="previewVisible && opened" class="preview">
    <app-work-time-group-preview [checkedGroup]="checkedGroup"/>
  </div>

  <div *ngIf="wtsId"  class="wts">
    <app-work-time-settings   />
  </div>
</div>

