
<app-header title="Настройки  рабочего времени" [type]="'../work-time-groups'">
  <button  (click)="showSettingCreate()" matTooltip="Добавить настройку"  mat-icon-button>
    <mat-icon id="addSetting">more_time</mat-icon>
  </button>
</app-header>

<mat-list  style="overflow: auto;">
  
  <mat-list-item *ngIf="showSettingCreator">
   <app-create-work-time-setting-item (onSettingClose)="closeSettingCreate()" (onSettingCreate)="createWorkTimeSetting()"/>
  </mat-list-item>

  <mat-list-item
    style="cursor: pointer"
    *ngFor="let wts of workTimesSettings | async "
  >
   <app-work-time-setting-item  (onSettingCopy)="addCopySettings($event)" (onSettingDelete)="filtrSettings($event)" class="item-list" [wts]="wts" />
  </mat-list-item>


</mat-list>


