.group{
    cursor: pointer;
    width: 100%;
    padding-left: 30px;
    display: flex;
    gap: 10px;
align-items: center;
    height: 50px;
    @media (any-hover: hover) {
        &:hover {
            background-color: rgba(0,0,0,0.04)
        }
        &.checked{
            background-color: rgba(0,0,0,0.04)
        }
      }


}

.actions{
    display: flex;
    justify-content: space-evenly;
}

.title{
    text-align: left;
    align-self: center;

    overflow: hidden;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    flex: 1 1 auto;
}

.input {
    color: #191919;
    background: transparent;
    padding-left: 0px;
    padding-right: 0px;
    height: 28px !important;
    font-size: 14px;
    line-height: 28px;
    padding: 6px 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    outline: none;
 
    width: 0px ;
    pointer-events: none;


  }
  
.changeName{
    flex: 1 1 auto;

    border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    pointer-events: visible;
  }

.supervisor{
    color: rgba(0, 0, 0,0.4);
}