<div class="filter-dropdown" *ngIf="openDropdown" [ngStyle]="{'right': isLast ? '18px' : 'auto'}">
  <div class="filter-content">
    <select class="select-control" #filterSelect (click)="$event.stopPropagation()" 
      (change)="onFilterTypeChange($event)" *ngIf="!isMonth" [(ngModel)]="filterType">
      <option value="contains">Содержит</option>
      <option value="notContains">Не содержит</option>
      <option value="startsWith">Начинается с</option>
      <option value="endsWith">Заканчивается на</option>
      <option value="equals">Равно</option>
      <option value="notEquals">Не равно</option>
    </select>
    <input class="form-control" value="{{filterValue}}" (click)="$event.stopPropagation()" (keyup)="onFilterInput($event)" placeholder="Значение фильтра" *ngIf="!isMonth">

    <input
      #filterDate
      class="form-control filter-date"
      type="month"
      (click)="$event.stopPropagation()"
      (change)="onFilterInput($event)"
      placeholder="Значение фильтра"
      *ngIf="isMonth"
      [(ngModel)]="filterValue"
    >
    <button class="form-control" (click)="onButtonClick($event)" *ngIf="isMonth">Очистить фильтр</button>
  </div>
</div>