.group-create{

    width: 0px;
    height: 0px;
  
    display: flex;
    gap: 10px;
align-items: center;
width: 100%;
height: 50px;

    
  }


  .input {
    color: #191919;
    background: transparent;
    padding-left: 0px;
    padding-right: 0px;
    height: 28px !important;
    font-size: 14px;
    line-height: 28px;
    padding: 6px 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    border-radius: 4px;
      flex: 1 1 auto;
  }