<div class="body">
  <div *ngIf="isUpdate" class="loader">
    <mat-spinner   ></mat-spinner>
  </div>

  <div class="group">
   
    <div class="header">
      <div class="group-options">
        <div  matTooltip="добавить сотрудников" (click)="chooseOption(1)" [ngClass]="{'active':option === 1}" class="group-option">
          <mat-icon   fontIcon="group_add"></mat-icon>
        </div>
        <div matTooltip="настроить рабочее время" (click)="chooseOption(2)"  [ngClass]="{'active':option === 2}"  class="group-option" >
          <mat-icon fontIcon="access_time"></mat-icon>
        </div>
        
        <div  class="group-option" (click)="close()" >
          <mat-icon fontIcon="close"></mat-icon>
        </div>

      </div>
    </div>
    <div class="group-title">
      <div class="title">{{wtg?.title}}</div>
     
    </div>
    <div class="group-body">
      <div  class="content" [ngClass]="{'active':option === 1}">
        <app-persons/>
      </div>
      <div class="content" [ngClass]="{'active':option === 2}">
       <app-group-settings/>
      </div>

    </div>
  </div>
  <div class="buttons">
    <button (click)="close()" mat-stroked-button>Закрыть</button>
  </div>

 </div>

