<div class="body">
  <div *ngIf="isUpdate" class="loader">
    <mat-spinner   ></mat-spinner>
  </div>

  <div class="group">
   
    <div class="header">
      <div class="group-options">
        <div matTooltip="добавить сотрудников" (click)="chooseOption(1)" [ngClass]="{'active':option === 1}" class="group-option">
          <mat-icon   fontIcon="group_add"></mat-icon>
        </div>
        <div matTooltip="настроить рабочее время" (click)="chooseOption(2)"  [ngClass]="{'active':option === 2}"  class="group-option" >
          <mat-icon fontIcon="access_time"></mat-icon>
        </div>
        
        <div  class="group-option" (click)="close()" >
          <mat-icon fontIcon="close"></mat-icon>
        </div>

      </div>
    </div>
    <div class="group-title">
      <div class="title">{{wtg?.title}}</div>
     
    </div>
    <div class="group-body">
      <div  class="content" [ngClass]="{'active':option === 1}">
        <div class="persons">
          <div class="open-all-setting">
            <button matTooltip="добавить сотрудников"  color="basic" (click)="openAllUsers()" mat-icon-button   aria-label="Example icon-button with a menu">
              <mat-icon >group_add</mat-icon>
            </button>
      
            
          </div>
          <div class="divisions">
           
      
            <mat-form-field  class="divisions-field">
              <mat-label>Подразделения</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Number"
                     ngClass="text"
             
                     matInput
                     autofocus="false"

                     [formControl]="divionInput"
                     [matAutocomplete]="auto">
                     <mat-autocomplete   #auto="matAutocomplete">
                      <mat-option            (click)="onDivisionChange(null)"   [value]="''" >Все Подразделения</mat-option>
                      <mat-option           (click)="onDivisionChange(division)" [value]="''" *ngFor="let division of fiteredDivisions">{{division.name}} {{division.parentDivision ? '(' + division.parentDivision.name + ')' : '' }}</mat-option>
                    
                  </mat-autocomplete>
            </mat-form-field>
          </div>
  

          <div class="inputControll">


            <div class="check">
              <mat-icon *ngIf="!allChecked" (click)="checkAllUsers()" >check_box_outline_blank</mat-icon>
              <mat-icon *ngIf="allChecked" (click)="uncheckAllUsers()" >check_box</mat-icon>
            </div>
            <input class="input" placeholder="Искать в таблице" [formControl]="personsControl" />
            <div  class="rows-count">
              Показано строк: {{this.filteredPersons.length}} из {{persons.length}}
            </div>
            <div class="remove">
              <mat-icon matTooltip="удалить сотрудников"  color="basic" (click)="removeAllUsers()" >group_remove</mat-icon>
            </div>
            
 
          </div>
      
          <div class="persons-list">
              <mat-spinner class="loaderSettings"  *ngIf="isLoading"></mat-spinner>
              <div class="list"  *ngIf="!isLoading">
                   <div matSort  (matSortChange)="sortData($event)"  class="headers">
                    <div mat-sort-header="name" class="headers-FIO">ФИО</div>
                    <div  mat-sort-header="city" class="headers-city">город</div>
                   </div>
                  <div class="list-item-user"    *ngFor="let person of filteredPersons">
                    <mat-checkbox
                    (change)="userChecked(person)"
                    class="example-margin"
                    [checked]="person.keycloakUid | isUserInWorkTimeSetting : checkedUsers"
      
                    >{{ person.name }}
                     </mat-checkbox>

          
                    <div class="city">{{person.city}}</div>

                  </div>
      
      
              </div>
          </div>
        
        </div>
      </div>
      <div class="content" [ngClass]="{'active':option === 2}">
        <div class="settings">
          <div class="persons-list">
            <mat-spinner class="loaderSettings"  *ngIf="isLoadingSettings"></mat-spinner>
            <div class="open-all-setting">
              <button color="basic" (click)="openAllSettings()" mat-icon-button   aria-label="Example icon-button with a menu">
                <mat-icon >settings</mat-icon>
              </button>
            </div>
            <div  cdkDropList class="list"  *ngIf="!isLoadingSettings" (cdkDropListDropped)="drop($event)">
            <div *ngIf="GroupSettings.length === 0" >Список рабочего времени пуст</div>     
            <div  class="list-item"    *ngFor="let setting of GroupSettings, let i = index">
                  <div cdkDrag *ngIf="changedName == ''" class="item-title">{{ setting.title }}</div>
                  <div class="updateName">
                    <button *ngIf="changedName !==''" matTooltip="отменить"    mat-icon-button color="black" (click)="closeChanged()">
                      <mat-icon>close</mat-icon>
                    </button> 
                <button *ngIf="changedName !==''" matTooltip="сохранить"    mat-icon-button color="black" (click)="updateTitle(setting)">
                  <mat-icon >check</mat-icon>
                </button>
                    <input id="change"   class="inputSetting"  [ngClass]="{'changeName':changedName === setting.uid}" (keydown)="onKeyDown($event, setting)" [(ngModel)]="settingValue"   matInput  placeholder="Имя">
                  </div>
                  <div class="item-control">

                    <div class="icon">
                      <button (click)="deleteFromGroup(setting.uid)"   mat-icon-button>
                        <mat-icon>remove_circle_outline</mat-icon>
                      </button>
                    </div>

    
                    <div class="icon" *ngIf="i !== 0 || i !== GroupSettings.length - 1" class="icon">
                      <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    </div>

                    <mat-menu  #menu="matMenu">
                      <button  *ngIf="i !== 0"   (click)="upItem(setting)" mat-menu-item>
                        <mat-icon>arrow_upwards</mat-icon>
                        <span>поднять в списке</span>
                      </button>
                      <button *ngIf="i !== GroupSettings.length - 1"   (click)="downItem(setting)"  mat-menu-item>
                        <mat-icon>arrow_downward</mat-icon>
                        <span>опустить в списке</span>
                      </button>


                    </mat-menu>
                  </div>
            </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="buttons">
    <button (click)="close()" mat-stroked-button>Закрыть</button>
  </div>

 </div>

