.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 13px;

}



.field{
    width: 100%;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(0,0,0,.12);
}

.wt{
    font-size: 14px;
}

.wt-name{
    font-size: 16px; 
}

.workTime{
    display: flex;
    gap: 10px;
    align-items: center;


}

.input{
    
}

.changeActions{
  flex: 1 1 auto;
  display: flex;
  
}



.change{

    pointer-events: none;
    opacity: 0.5;
}

.changeActive{
 
    pointer-events: visible;
    opacity: 1;


}
.top-bar {
    height: 50px;
    padding: 10px;
    border-bottom: solid 1px rgba(0,0,0,.12);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.title {
    text-align: center;
    border-bottom: solid 1px rgba(0,0,0,.12);
    padding-bottom: 10px;
}

.work-time-item {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 5px;
    color: #707172;
    font-weight: 500;
    align-items: center;

    border-bottom: solid 1px rgba(0,0,0,.12);
}

.body {
    pointer-events: none;
    padding: 15px;
}

.add-work-time-button {
    font-size: 1.5em;
    border: none;
    background: white;
    margin: 5px auto;
    display: block;
    font-weight: lighter;
}

.add-work-time-button:hover {
    font-weight: 400;
}

.create-time-period {
    display: flex;
    align-items: center;
}

.space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.period-choose {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

.drop-down-handler {
    padding: 6px;
    border-radius: 5px;
    background-color: rgba(32,33,36,.04);

}

.dropdown-toggle::after {
    display:none;
}

.repeat-toggle {
    display: flex;
    gap: 4px;
    align-items: center;

    color: #707172;
    margin-top: 5px;
}

.bottom-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    margin-top: 5px;
}

.repeate-menu {
    display: flex;
    align-items: center;

    font-weight: 500;
    color: #707172;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.repeate-menu-item {

    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.active {
    background-color: rgb(218, 232, 252);
    border-color: rgb(108, 142, 191)
}

.interval-pick {
    display: flex;
    align-items: center;
    color: #707172;
    gap: 6px;
}

.interval-settings {
    width: 100%;
    display: flex;

}  

.end{
    margin-bottom: 10px;
}

.RepeatEndTypeFlex{
    display: flex;
    align-items: center;
    gap: 10px;
}
.current-interval-settings {

}
.number-picker {
    background-color: rgb(241, 243, 244);
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 4px;
}

.week-day-picker {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.week-day-item {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    text-align: center;
vertical-align: middle;
line-height: 25px;  

background-color: rgb(241, 243, 244);
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}   

.repeat-days {
    color: #707172;
}

.choosen-repeat-day {
    background-color: rgb(33, 114, 229);
    color: white;
}

.repeat-end-row {
    display: flex;
    align-items: center;
    gap: 4px;
}


.repeat-end {
    margin-top: 10px;
    color: #707172;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.repeat-end-row-title {
    color: #707172;
}

.calendar-picker {
    padding: 6px 8px;
    background-color: rgb(241, 243, 244);
    border-radius: 4px;
    border: none;
    outline: none;
}

label {
    color: #707172;
}

.checkbox-row {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}