name: deploy worktime main

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      workflow:
        description: 'Workflow to run'
        required: true
        default: 'deploy-main'

jobs:
  prod:
    name: prod
    runs-on: self-hosted
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Run Docker Compose
        run: |
          ssh user@10.11.11.50 'cd /home/user/AIS_K_PORTAL/ais_work_time_settings && git pull origin main && docker-compose build --build-arg ENV=prod && ENV=prod docker-compose up -d'
